{% if pinned_notes %}

    <div class="section">

        <span class="section-title">

            Закрепленные заметки

        </span>

        <div class="note-list">

            {% for note in pinned_notes %}
            
            <div class="note">
                
                <div class="content" hx-get="{% url 'app:get-note' note.uid %}" hx-target=".current-note">
                    
                    <span class="title">{{ note.title }}</span>
                    <span class="content">{{ note.content | safe }}</span>

                </div>
                
            </div>
            
            {% endfor %}
            
        </div>
            
    </div>

{% endif %}

{% if notes %}

    <div class="section">

        <span class="section-title">

            Другие заметки

        </span>

        <div class="note-list">

            {% for note in notes %}
            
                <div class="note" onmouseover="showActions()">

                    <div class="top-actions">

                        <div id="pin">

                            P

                        </div>

                        <div id="love">

                            L

                        </div>

                    </div>
                    
                    <div class="content">
                        
                        <span class="title">{{ note.title }}</span>
                        <span class="content">{{ note.content | safe }}</span>
                        
                    </div>
                        
                    <div class="bottom-actions">

                        <div id="image">

                            I

                        </div>

                        <div class="folders">

                            F

                        </div>

                        <div class="archive">

                            A

                        </div>

                        <div id="delete">

                            D

                        </div>

                    </div>

                    
                </div>

            {% endfor %}

        </div>
        
    </div>

{% endif %}