{% load static %}
{% load compress %}

<!DOCTYPE html>

<html>

    <head>


        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'packages/htmx.min.js' %}"></script>

    </head>

    <body>
        
        <div class='top-nav'>

            <div>



            </div>

            <div class="buttons">

                {% if u %}

                    <a href="{% url 'app:home' %}">

                        H

                    </a>

                    <a href="{% url 'app:home' %}">

                        L

                    </a>

                {% else %}

                    <a href="{% url 'user:login' %}">

                        L

                    </a>

                {% endif %}

            </div>

        </div>

        <div class="main">

            <div class="circles">


                <div class="big"></div>
                <div class="medium"></div>
                <div class="small"></div>

            </div>

            <div class="info">

                <div class="text">

                    <h1>Не теряйте голову!</h1>
                    <h2>Создайте онлайн блокнот</h2>
                    <a href="{% url 'user:register' %}"><button>Создать блокнот</button></a>

                </div>

                <div class="image">



                </div>

            </div>

        </div>

        <div class="bottom-nav">

            <div class="copyright">

                © Блокнотик 2022

            </div>

            <div class="links">



            </div>

        </div>


    </body>


</html>